html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}


@keyframes swing {
/*    0% {
        transform: rotateY(180deg);
    }*/
    20% {
        transform: rotate(-15deg);
    }
    40% {
        transform: rotate(15deg);
    }
    60% {
        transform: rotate(-7.5deg);
    }
    80% {
        transform: rotate(7.5deg);
    }
    100% {
        transform: none;
    }
}


@keyframes shake {
    20% {
        transform: none;
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    80% {
        transform: scaleX(0.90) scaleY(1.10);
    }
    100% {
        transform: none;
    }
}


.shake {
    animation: shake 0.5s;
    transform-origin: center;
}


.swing {
    background: #f43838 !important;
    animation: swing 0.5s;
    transform-origin: bottom;
}


.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 0.1s;
}


.deck .card.open {
    transform: rotateY(360deg);
    background: #02b3e4;
    cursor: default;
}


.deck .card.show {
    font-size: 33px;
}


.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}


.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}


.score-panel .stars li {
    list-style: none;
    display: inline-block;
}


.score-panel .timer {
    padding-left: 2em;
}


.score-panel .timer .time {
    padding-left: 0.5em;
}


.score-panel .restart {
    float: right;
    cursor: pointer;
}


.popup {
    padding: 10%;
    text-align: center;
}


.popup img {
    width: 72px;
    height:72px;
}


.popup .again {
    background: #02ccba;
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    box-shadow: 1px 1px 1px 0 rgba(46, 61, 73, 0.5);
}
