.title-text {
	color: white;
	margin: 50% 0 50% 0;
	text-align: center;
}


.name {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}


.subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

.thumbnails {
	width: 100%;
	margin: 0 0 1em 0;
}


.thumbnail-boxes {
	padding: 0.5em;
}


.portrait {
	width: 100%;
	margin: 0px 0 40px 0;
}


body {
	background: black;
}